<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD NODEJS / EXPRESS / MOGODB</title>
</head>
<body>

    <h2>Car Register<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="carname" name="carname">
        <input type="text" placeholder="carbrand" name="carbrand">
        <br>
        <input type="text" placeholder="carmodel" name="carmodel">
        <input type="text" placeholder="caryear" name="caryear">
        <br>
        <input type="text" placeholder="carcolor" name="carcolor">
        <input type="text" placeholder="cardocument" name="cardocument">
        <br>
        <button type="submit">Submit</button>
    </form> 

</body>
</html>